# ============================================
# Configuration du Logger Série
# ============================================

# Port COM (Windows) ou /dev/ttyUSB0 (Linux)
SERIAL_PORT=COM3

# Vitesse de communication en bits/seconde
SERIAL_BAUD=115200

# Fichier de sortie local (JSONL)
SERIAL_OUTPUT_FILE=data.txt

# ============================================
# Configuration Supabase (optionnel)
# ============================================

# Activer l'envoi des donnees vers Supabase
SERIAL_SEND_TO_SUPABASE=true

# URL complète de la fonction Edge
# Format: https://<PROJECT-REF>.supabase.co/functions/v1/hydraulic-data-receiver
SUPABASE_FUNCTION_URL= https://dchmuikdcwffhfmzkpzi.supabase.co/functions/v1/hydraulic-data-receiver

# Clé anonyme Supabase (trouvable dans Settings > API)
SUPABASE_ANON_KEY=sb_publishable_hSyR9DL7b4r3vOoUGRnIjQ_tEAxrPoL

# ID du tronçon (optionnel, peut venir du capteur)
ID_TRONCON=TR-Z1-042
